/* 头部样式 */
#head{
    background-color: #fff;
}
/* 导航区样式 */
.head_top{
    width: 100%;
    background: #333;
}
.head_top a{
    color: #e5e5e5;
}
.head_top_con{
    width: 1200px;
    margin: 0 auto;
}
.navs{
    float: right;
}
.navs ul{
    float: left;
}
.navs1{
    padding-right: 15px;
    text-align: right;
}
.navs1_li{
    float: left;
    padding:0 3px;
    height: 30px;
    line-height: 30px;
}
.navs1_div{
    height: 8px;
    width: 1px;
    padding: 11px 4px;
    float: left;
}
.navs1_span{
    display: block;
    height: 8px;
    width: 1px;
    background-color: #e5e5e5;
}
.navs1_li a:hover{
    color:#d80c18;
}
.rline{
    float: left;
    padding: 0 14px;
    line-height: 30px;
    position: relative;
}
.rline a:hover{
    color:#d80c18;
}
.memu{
    position: relative;
    line-height: 30px;
    padding: 0;
}
.hd{
    border: solid 1px transparent;
    margin-top: -1px;
    height: 25px;
}
.hd a{
    float: left;
    padding: 0 14px;
    overflow: hidden;
    height: 25px;
}
.hd_i{
    width: 16px;
    height: 16px;
    overflow: hidden;
    float: right;
    margin: 4px -14px 0 1px;
}
.ul{
    left: 1px;
}
.two_navs{
    display: none;
    position: absolute;
    z-index: 3;
    top: 25px;
    background: #fff;
}
.two_navs ul{
    border: solid 1px #dfdfdf;
    border-top:none;
    padding: 0 12px;
    width: 53px;
    line-height: 25px;
    white-space: nowrap;
}
.two_navs a{
    color:#333;
}
.memu .xiazai{
    right: 0;
    border: solid 1px #dfdfdf;
    border-top: none;
    width: 264px;
    margin: 0 auto;
    padding:15px;
    right: 1px;
}
.memu .xiazai div{
    width: 50%;
    text-align: center;
    float: left;
}
.memu .xiazai div span{
    display: block;
    color: #888;
    line-height: 0;
}
/* logo区样式 */
.head_bottom{
    width: 1200px;
    margin: 0 auto;
    height: 105px;
}
.logo{
    float: left;
    width: 310px;
    height: auto;
    padding-right: 40px;
    padding-top: 35px;
}
.head_serch{
    float: left;
    margin-top: 34px;
    margin-left: 80px;
    width: 484px;
    border: 1px solid #2884c7;
}
#txt_company{
    color: #999;
    width: 379px;
    height: 22px;
    padding: 5px 5px 5px 10px;
    line-height: 22px;
    font-size: 14px;
    box-shadow: 0 0 2px #d7d7d7 inset;
    border: 0;
    outline: 0;
}
#search_submit{
    float: right;
    width: 90px;
    height: 32px;
    background: #2884c7;
    text-align: center;
    font-size: 14px;
    color: #fff;
    letter-spacing: 5px;
    text-indent: 5px;
    cursor: pointer;
    border: 0;
    outline: 0;
}
.btn_cart{
    float: right;
    margin-top: 34px;
    margin-right: 40px;
}
.btn_cart a {
    display: inline-block;
    width: 160px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    position: relative;
    border: 1px solid #d8d6d6;
    color: #2884c7;
}
.btn_cart_i {
    float: left;
    margin-left: 31px;
    margin-right: 0px;
    height: 25px;
    width: 25px;
    background: url(../images/gouwuche.png) no-repeat center 6px;
}
.btn_cart_em{
    padding-left: 5px;
}

/*navs_2区样式*/
.navs_2{
	border-bottom: solid 2px #333;
    height: 38px;
}
.navs_2_div{
	width: 1200px;
	margin: 0 auto;
	min-height: 30px;
}
.nav_shopall{
	float: left;
	position: relative;
    width: 237px;
}
.nav_shopall_btn{
	width: 237px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    background: #282727;
    border-radius: 1px 1px 0 0;
    overflow: hidden;
    position: relative;
}
.nav_shopall_btn_img{
	vertical-align: middle;
	margin:0  5px 0 81px;
}
.nav_shopall_list{
	position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;
    width: 237px;
    height: 460px;
    background: rgba(255, 255, 255, 0.9);
}
.nav_shopall_list ul{
	overflow: hidden;
}
.nav_shopall_list ul li{
    margin-top: -1px;
}
.nav_shopall_list ul li a{
    width: 181px;
	height: 78px;
	line-height: 78px;
	display: block;
    padding: 0 0 0 30px;
	font-size: 14px;
    color: #333;
    border-bottom: solid 1px #fff;
    border-color: rgba(255, 255, 255, 0.6);
}
.t{
	float: left;
}
.nav_shopall_list_i{
	margin-top: 32px;
	float: right;
	width: 8px;
	height: 13px;
	background: url(../images/icon2.png) no-repeat center;
}
.nav_shopall_pop{
	width: 960px;
    height: 460px;
    position: absolute;
    z-index: 4;
    left: 237px;
    top: 40px;
}
/*爆款推荐*/
.popBox{
	height: 460px;
	overflow: hidden;
	position: absolute;
    display: none;
    background: #fff;
}
.inner_wrap{
	float: left;
    margin: 10px 0 0 30px;
}
.inner_wrap ul{
	float: left;
    width: 230px;
}
.inner_wrap .inner_last_ul{
    width: 220px;
}
.inner_wrap ul li{
	margin-bottom: 20px;
}
.inner_wrap ul li div{
	display: inline-block;
    vertical-align: top;
}
.nav_shopall_pop a{
	color: #333;
}
.nav_shopall_pop a:hover{
	color: #f01e00;
}
.pic img{
	width: 80px;
	height: 80px;
}
.txt{
	margin: 26px 0 0 10px;
}
/*爆款推荐广告*/
.ad{
	float: right;
    width: 240px;
    height: 440px;
    padding: 10px 10px 0 0;
}
.ad img{
	width: 240px;
    vertical-align: text-top;
    max-height: 440px;
}
/*电视系列*/
.popL{
	padding-left: 35px;
    width: 665px;
    margin-right: -2px;
    float: left;
    height: 460px;
    overflow: hidden;
}
.popL_list{
	padding-left: 7px;
    margin-top: 36px;
}
.li_i{
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background: #8a8a8a;
    margin-left: -12px;
    margin-right: 9px;
    vertical-align: 3px;
}
.popL_list li{
	height: 60px;
	min-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 19px;
    padding-left: 12px;
}
.popL_list a .mcl-3,.popL_list a:hover .mcl-3{
	color: #999;
}
.popL2{
	float: left;
    height: inherit;
    width: 700px;
    overflow: hidden;
}
.popLcen{
	overflow: hidden;
    padding-left: 30px;
}
.popLcen_list{
	width: 233px;
    float: left;
    margin-top: 30px;
}
.pic2{
	float: left;
    width: 40px;
    height: 88px;
}
.pic2 img{
	width: 20px;
    height: 20px;
    padding: 10px;
	vertical-align: top;
}
.text{
	float: left;
    margin-left: 16px;
    font-size: 12px;
    line-height: 42px;
    height: 40px;
    overflow: hidden;
}
.more_i{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: url(../images/icon12.png) no-repeat center;
    padding-left: 5px;
    margin-right: 6px;
    margin-top: 2px;
    overflow: hidden;
    line-height: 37px;
    vertical-align: -17px;
}
.navKeyword1{
	float: left;
    padding-left: 14px;
    padding-top: 2px;
}
.navKeyword1 ul li{
	margin-left: 25px;
    font-size: 15px;
    float: left;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
}
.navKeyword1 ul li a,.navKeyword2 a{
	color: #333;
}
.navKeyword1 ul li a:hover,.navKeyword2 a:hover{
	color: #f01e00;
}
.navKeyword2{
	float: right;
    padding-top: 2px;
}
.i_help{
	margin-left: 10px;
    margin-right: 0;
    font-size: 15px;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
}
.i_help_i{
	vertical-align: top;
    display: inline-block;
    width: 28px;
    height: 34px;
    background-image: url(../images/icon3.png);
    background-repeat: no-repeat;
    background-position: center;
}
.i_help a:hover .i_help_i{
	background-image: url(../images/icon3_1.png);
}
/*轮播图区样式*/
.index_banner{
	width: 100%;
    min-width: 1200px;
    height: 460px;
    overflow: hidden;
}
.index_banner_ad{
	position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 0px;
}
.index_banner_ad_i{
	position: absolute;
    font-size: 12px;
    width: 40px;
    color: #fff;
    text-align: center;
    height: 20px;
    line-height: 19px;
    border-radius: 2px;
    right: 8px;
    top: 8px;
    background: rgba(221, 221, 221, 0.9);
    z-index: 1;
}
.banner{
	width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.banner_list{
	margin-left: 0;
	height: 460px;
    width: 5396px;
}
.banner_list li{
	height: 460px;
	width: 1349px;
	min-width: 1200px;
	float: left;
}
.banner_list li img{
	width: 100%;
}
.banner_btn_list{
	width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    height: 0;
    display: none;
}
.banner_btn_left{
	width: 40px;
    height: 460px;
	position: absolute;
	left: 252px;
    top: -460px;
}
.banner_btn_right{
	width: 40px;
    height: 460px;
	position: absolute;
	right: 15px;
    top: -460px;
}
.banner_btn_p{
	width: 30px;
    height: 52px;
    margin: 215px 0 0 5px;
    background: url(../images/icon2.png) no-repeat;
}
.p1{
    background-position: -2px -6px; 
}
.p2{
	background-position: -60px -6px; 
}
.banner_btn2_list{
	position: relative;
	width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.banner_btn2_list_box{
	padding-right: 35px;
    text-align: right;
    position: absolute;
    bottom: 5px;
    height: 20px;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
}
.banner_btn2_list_box button{
	display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    color: #fff;
    background: rgba(76,76,76,0.5);
    border: 0px solid #ccc;
    border-radius: 50%;
    outline: medium none;
}
.banner_btn2_list_box .cur{
    box-sizing: content-box;
    background: transparent;
    border: 2px solid #808080;
}
.index_main{
	width: 1200px;
    margin: 0 auto;
}
.index_main_box{
	padding: 20px 0;
	height: 147px;
    overflow: hidden;
}
.index_left{
	float: left;
    width: 237px;
    height: 147px;
    background: #f7f7f7;
}
.index_hd{
	padding: 9px 20px 0;
}
.mcl-1{
	float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    height: 28px;
    color: #333;
}
.lcl-2{
	color: #c61b00;
	float: right;
    line-height: 25px;
    padding-top: 2px;
}
.lcl-2:hover{
	color:#d80c18;
}
.index_bd{
	padding: 0 20px;
}
.index_t3 li{
	margin-left: 3px;
	line-height: 25px;
}
.index_t3 li a{
	color: #333;
	float: none;
}
.index_right{
	float: left;
    width: auto;
}
.index_right li{
	margin-left: 3px;
	float: left;
}
.index_right li img{
	width: 237px;
    height: 150px;
}
/*家居生活馆区样式*/
.house{
	background-color: #f7f7f8;
}
.house_h{
	padding-top: 30px;
}
.house_h .mcl-0{
	width: 8em;
    margin: 0 auto;
    height: 70px;
    overflow: hidden;
    font-weight: normal;
    font-size: 26px;
    line-height: 70px;
}
.house_h_i{
	float: left;
    margin: 18px 12px 0 0;
    display: inline-block;
	background: url(../images/jinglingtu.png) no-repeat;
	background-position: -46px -145px;
    width: 36px;
    height: 36px;
}
.house_h_list{
	margin: -10px 0 30px;
    text-align: center;
    font-size: 14px;
}
.house_h_list ul li{
	display: inline-block;
}
.house_h_list ul li a{
	color: #666;
}
.house_h_list ul li a:hover{
	color: #F01E00;
}
.house_h_list_i{
	display: inline-block;
	width: 1px;
	height: 10px;
	background: #666;
    margin: 0 36px;
}
.house_show{
	width: 1200px;
	margin: 0 auto;
}
.house_show_box{
	overflow: hidden;
}
.li1Img{
	width: 597px;
    height: 320px;
}
.house_show_box ul li{
	float: left;
    background: #fff;
    margin: 0 3px 3px 0;
}
.house_show_box ul li img{
	transition: all 1s;
}
.li1Img img{
	width: 597px;
    height: 320px;
}
.li1{
	width: 597px;
    height: 320px;
}
.li1 a{
	display: block;
    width: inherit;
    height: inherit;
    color: #333;
}
.li1_box{
	position: relative;
    z-index: 2;
    height: 0;
    width: 100%;
}
.li1_box_i{
	position: absolute;
	right: 17px;
    top: 20px;
	display: block;
	width: 54px;
    height: 54px;
    line-height: 52px;
    border-radius:50% 0 50% 50%;
    text-align: center;
    font-size: 18px;
    background: #ec5353;
    color: #fff;
}
.Box{
	padding: 47px 0 0 47px;
}
.Pic{
	position: relative;
    float: left;
    width: 240px;
    height: 240px;
}
.Pic img{
	position: relative;
    width: 240px;
    height: 240px;
}
.Text{
	overflow: hidden;
    margin-left: 240px;
    padding: 0 25px;
    text-align: center;
}
.name{
    font-size: 32px;
    line-height: 47px;
    height: 47px;
    margin-bottom: 16px;
    margin-top: 64px;
    overflow: hidden;
}
.config{
	line-height: 23px;
    height: 23px;
    overflow: hidden;
    color: #999;
    font-size: 12px;
}
.price{
	line-height: 23px;
    height: 23px;
	padding-top: 6px;
    font-size: 14px;
}
.products_i{
	background-position: 0 -99px;
}
/*footer区样式*/
.footer{
	background-color: #191919;
    padding-bottom: 8px;
}
.footer_top{
	padding: 20px 0;
    margin-bottom: 0;
    border-bottom: solid 1px #e5e5e5;
    background: #f5f5f5;
}
.footer_top_box{
	width: 1200px;
	margin: 0 auto;
	min-height: 30px;
}
.top_list{
	margin-left: 65px;
}
.top_list li{
	float: left;
    line-height: 36px;
    overflow: hidden;
}
.top_li1{
	width: 270px;
}
.top_li2{
	width: 327px;
}
.top_li3{
	width: 286px;
}
.top_li4{
	width: 150px;
}
.top_li_i{
	float: left;
    border: solid #666 1px;
    border-radius: 42%;
    margin-right: 16px;
    background-image: url(../images/jinglingtu.png);
    display: inline-block;
    width: 36px;
    height: 36px;
}
.top_li1_i{
    background-position: 0px -145px;
}
.top_li2_i{
    background-position: -184px -99px;
}
.top_li3_i{
    background-position: -138px -145px;
}
.top_li4_i{
    background-position: -92px -99px;
}
.footer .top_list a{
	color: #666;
	font-size: 16px;
}
.footer .top_list li a:hover{
	color: #f01e00;
}
.footer .top_list li a:hover .top_li2_i{
	border: solid #f01e00 1px;
	background-position: -138px -99px;
}
.footer .top_list li a:hover .top_li3_i{
	border: solid #f01e00 1px;
	background-position: -230px -99px;
}
.footer .top_list li a:hover .top_li4_i{
	border: solid #f01e00 1px;
	background-position: -46px -99px;
}
.footer_bottom{
	width: 1200px;
    margin: 0 auto;
}
.footer_bottom_box{
	padding-top: 28px;
    padding-left: 65px;
    margin-bottom: 51px;
    overflow: hidden;
}
.cols{
	float: left;
    width: 160px;
}
.tit{
	float: none;
	line-height: 30px;
    padding-bottom: 1px;
    color: #c4c2c2;
}
.cols_list li{
	line-height: 22px
}
.cols_list li a{
	color: #787878;
}
.cols_list li a:hover{
	color:#F00;
}
.footer_cs{
	float: right;
    margin-top: 22px;
    margin-right: 86px;
    width: 158px;
    text-align: center;
}
.cs{
	margin-bottom: 18px;
    overflow: hidden;
}
.cs a{
	display: block;
    line-height: 32px;
    border: solid 1px #575756;
    background: #2d2c2d;
    color: #f05353;
    font-size: 16px;
}
.big{
	font-weight: 400;
}
.line{
	line-height: 28px;
    color: #fff;
    margin-bottom: 18px;
}
.footer_down{
	border-top: solid 1px #373737;
    line-height: 21px;
    padding-top: 7px;
    margin: 7px 58px 0;
    padding-bottom: 7px;
    height: 30px;
}
.copy{
	text-align: center;
	color: #888;
}
/*返回顶部区样式*/
.top_float{
    height: 35px;
	width: 47px;
    border-right: 0;
    text-align: center;
    z-index: 5;
    position: fixed;
    bottom: 50px;
    right: 0px;
}
.is_top{
	border: solid 1px #eaeaea;
    border-right: 0;
    height: 36px;
    background: #fff;
    border-radius: 3px 0 0 3px;
    overflow: hidden;
}
.is_top_show{
	height: 36px;
	background: url(../images/icon5.png) no-repeat center;
}
/* 右侧飘窗样式 */
.sidebar_float{
    z-index: 5;
    position: fixed;
    bottom: 103px;
    right: 0;
    width: 47px;
    background: #fff;
    border: solid 1px #eaeaea;
    border-right: 0;
    border-radius: 3px 0 0 3px;
    text-align: center;
}
.is_car,.is_share,.is_kefu{
    position: relative;
}
.tubiao{
    display: block;
    width: auto;
    height: 37px;
    overflow: hidden;
}
.is_cart_i,.is_share_i,.is_kefu_i{
    display: inline-block;
    width: 32px;
    height: 34px;
    background-repeat: no-repeat ;
    background-position:  center;
}
.is_cart_i{
    background-image: url(../images/icon6.png); 
}
.is_share_i{
    background-image: url(../images/icon7.png); 
}
.is_kefu_i{
    background-image: url(../images/icon3.png);
}
.top_show,.share_show{
    display: none;
}
.absolute{
    position: absolute;
}
.arrow{
    border-left: 12px solid #efefef;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    left: -17px;
    top: 10px;
}
.ico_info_bg,.share_bg,.ico_info_bg{
    top: 1px;
    right: 64px;
    background-color: #efefef;
    height: 20px;
    line-height: 20px;
    padding: 6px 10px;
    color: #000;
    white-space: nowrap;
    border-radius: 3px;
}
.share_bg{
    background-image: url(../images/icon8.png);
    background-repeat:  no-repeat;
    background-position:  center;
    width: 130px;
    padding: 6px 0;
}
.share_bg a{
    display: inline-block;
    width: 28px;
    height: 32px;
    margin-top: -9px;
}

