.body{
    height : 100%;
}
.logo{
    width: 100%;
    position: relative;
    border-bottom: 1px solid #eee;
}
.logo_box{
    height: 90px;
    margin: auto;
}
.logo_img{
    margin: 30px 0 0 45px;
    height: 47px;
    width: auto;
}
.logo_box_ul{
    position: absolute;
    top: 59px;
    right: 45px;
    font-size: 14px;
    color: #a4a4a4;
    float: right;
}
.lis{
    float: left;
    padding: 0 7px;
}
.lis a{
    text-decoration: underline;
    color: #a4a4a4;
}
.lis a:hover{
    color: #419ce3;
}
.login{
    height: 483px;
    background-image: url(../images/logon_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 12px;
}
.login_box{
    width: 430px;
    height: 460px;
    background: #fff;
    float: right;
    margin-right: 10px;
    position: relative;
}
.login_top{
    width: 380px;
    position: relative;
    font-size: 14px;
    color: #666;
    padding: 0 25px;
}
.p1{
    margin-top: 23px;
    padding: 8px 0;
    line-height: 24px;
    overflow: hidden;
}
.top_title{
    float: left;
    color: #333;
    font-size: 18px;
    font-weight: 400;
}
.note_box{
    display: inline-block;
    float: right;
}
.note_box_a{
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    color: #529bef;
    float: right;
}
.mess_regi{
    display: inline-block;
    float: right;
    margin-right: 3px;
    margin-top: 4px;
    width: 9px;
    height: 16px;
    background: url(../images/bg7.png) no-repeat;
}
.login_top_ul{
    margin-top: 23px;
}
.regi_form_input{
    height: 42px;
    line-height: 42px;
    border: 1px solid #ccc;
	position: relative;
}
.li1{
	margin-bottom: 15px;
}
.icon1,.icon3{
	margin: 6px 0 0 14px;
	display: inline-block;
    float: left;
    width: 25px;
    height: 29px;
    background-image: url(../images/bg6.png);
    background-repeat: no-repeat;
}
.icon1{
	 background-position: 4px 5px;
}
.regi_login_input1,.regi_login_input2{
    width: 270px;
	height: 23px;
    line-height: 23px;
    border: none;
    color: #333;
    position: absolute;
    padding: 9px 0 10px;
    top: 0;
    font-size: 14px;
    left: 45px;
}
.icon2{
	display: inline-block;
	position: absolute;
	top: 7px;
    right: 10px;
    width: 42px;
    height: 27px;
    background: url(../images/bg1.png) no-repeat;
}
.icon3{
	background-position: -198px 3px;
}
.li3{
	position: relative;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
}
.li3 label{
	padding-left: 17px;
	float: left;
    position: relative;
    line-height: 22px;
    margin-top: 10px;
}
#xieyi{
	position: absolute;
    float: left;
    left: 0;
    margin-top: 5px;
}
.f_fr{
	display: block;
	float: right;
}
.blu{
	color: #529bef;
}
#login-btn{
	display: block;
	height: 38px;
    line-height: 38px;
    border: 2px solid #009de6;
    background: #009de6;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.login_bottom{
	position: absolute;
    width: 381px;
    margin-left: 23px;
    bottom: 15px;
    color: #969696;
}
.regi_wz_box{
	text-align: center;
    margin: 0 26px;
    font-size: 16px;
}
.bluHover:hover{
	color : "#2786f2"
}
.regi_more{
	margin-top: 16px;
    position: relative;
}
.regi_more_line{
	margin: 0 26px;
    height: 16px;
    border-top: 1px solid #DBDBDB;
    position: relative;
    z-index: 1;
}
.regi_more_title{
	display: block;
    margin-top: -11px;
    position: absolute;
    left: 50%;
    margin-left: -48px;
    z-index: 2;
    width: 90px;
    text-align: center;
    background: #fff;
}
.regi_more_box{
	width: 176px;
    overflow: hidden;
    margin: auto;
    height: 34px;
    padding-left: 54px;
}
.regi_more_list{
	display: block;
    float: left;
    height: 34px;
    width: 123px;
    overflow: hidden;
    position: relative;
    background: url(../images/bg5.png) no-repeat;
}
.regi_more_list li{
	float: left;
    height: 34px;
    width: 34px;
    margin: 0 3px;
}
.regi_more_list li a{
	float: left;
    height: 34px;
    width: 34px;
}
.open{
	float: left;
    display: inline-block;
    color: #999;
    width: 45px;
    height: 34px;
    line-height: 34px;
    margin-left: 5px;
    word-spacing: normal;
}

